
/* General class level things like remove padding */
.no-padding {
    padding: 0px;
}

.no-margin{
    margin: 0px;
}

.navbar-brand {
    line-height: 50px;
    height: auto;
}

.no-background {
    background: none;
    background: transparent;
}

.no-borders{
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* header */
.bg{
	background:url(../images/bannerish.png) no-repeat 0px 0px;
	background-size:cover;
    height: 600px;
}
.header{
}
.logo{
	float: left;
	margin-top: 0.6em;
}
.logo a{
	color: #303030;
	font-weight: 200;
	text-transform: uppercase;
	font-size: 2.5em;
}
.logo a:hover{
	text-decoration:none;
}
.logo320{
	display:none;
}

/* top-nav */
.top-nav:before,
.top-nav:after {
    content: " ";
    display: table;
}
.top-nav:after {
    clear: both;
}
nav {
	position: relative;
	float: right;
}
nav ul {
	padding: 0;
	float: right;
	margin: 0.9em 0;
}
nav li {
	display: inline;
	float: left;
	position:relative;
}
nav a {
	color: #fff;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
}
nav a:hover{
	text-decoration:none;
	color:#00A2C1;
}
nav a#pull {
	display: none;
}

/*----navbar-nav----*/
.top-header{
	padding: 0.8em 0em;
}
.top-nav ul li a{
	color: #FFF;
	padding: 0.2em 1.5em;
	font-size: 0.9em;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	font-weight: 300;
}
.top-nav ul li.active a,
.top-nav ul li a:hover{
	color:#EE2F1B;
}
.logo a{
	display:block;
}

/*---- banner ----*/
.banner-info{
	padding: 9em 0 12em;
}
.banner-info h1{
	font-weight: 700;
	font-size: 3.5em;
	color: #FFF;
	text-transform: uppercase;
	width: 70%;
	display: inline-block;
	line-height: 1.3em;
}
.banner-info span{
	width:15%;
	height:1px;
	background:#35C2F8;
	display:inline-block;
}
.banner-info p{
	color: #CCCCCC;
	font-weight:400;
	font-size: 1.3em;
	line-height: 1.7em;
	font-family: 'Open Sans', sans-serif;
	margin: 1em auto;
	width: 50%;
}
/*---- portflio ----*/
.portfolio-top-left{
	padding:3em 3em 3em 5em;
	background: url(../images/portbg-1.png) no-repeat 68% 69%;
}
.portfolio-top-left h3{
	font-weight: 900;
	font-size: 2.5em;
	color: #222222;
	text-transform: uppercase;
	margin: 0.3em 0 0.6em;
}
.portfolio-top-left p{
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.7em;
	color: #777777;
}
.portfolio-top-left-grid-left{
	float:left;
	width:10%;
	text-align:center;
}
.portfolio-top-left-grid-right{
	float:right;
	width:90%;
}
.portfolio-top-left-grid-left span{
	width:32px;
	height:32px;
	display:inline-block;
	background:url(../images/port-icons.png) no-repeat 0px 0px;
	margin-top:0.5em;
}
.portfolio-top-left-grid-right h5{
	text-transform:uppercase;
	color:#222222;
	font-size:1.3em;
	margin:0;
	padding:0 0 0.5em 0;
}
.portfolio-top-left-grid-right p{
	width:80%;
}
.portfolio-top-left-grid{
	margin:1em 0;
}
.portfolio-top-left-grids{
	padding:0.5em 0;
}
.portfolio-top-left-grid-left span.p-icon1{
	background-position:0px 0px;
}
.portfolio-top-left-grid-left span.p-icon2{
	background-position: 0px -90px;
}
.portfolio-top-left-grid-left span.p-icon3{
	background-position: 0px -183px;
}
.portfolio-top-right{
	min-height:650px;
	background:url(../images/port-right-divice.png) no-repeat 0px 0px;
	background-size:cover;
}
.portfolio-top-right-inner{
	padding:0;
}
.portfolio-work-grid{
	padding:0;
}
.portfolio-work-grid{
	position:relative;
}
.portfolio-work-grid-pic img{
	width:100%;
}
.portfolio-work-grid-pic{
	position:relative;
}
.portfolio-work-grid-caption{
	display: none;
	position: absolute;
	top: 0;
	background: rgba(153, 153, 153, 0.8);
	text-align: center;
	padding: 6em 2em 0em 2em;
	bottom: 0;
}
.portfolio-work-grid-caption h4{
	font-weight:700;
	font-size:1.5em;
	text-transform:uppercase;
	color:#FFF;
}
.portfolio-work-grid:hover div.portfolio-work-grid-caption{
	display:block;
}
.portfolio-work-grid-caption p{
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.7em;
	color: #FFF;
}
/*Styles for screen 600px and lower*/
@media screen and (max-width: 768px) {
	nav { 
  		height: auto;
  		float:none;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		width: 100%;
  		position: relative;
  	}
  	nav li a {
		border-bottom: 1px solid #eee;
	}
  	nav a {
	  	text-align: left;
	  	width: 100%;
  	}
}
/*Styles for screen 515px and lower*/
@media only screen and (max-width : 768px) {
	nav {
		border-bottom: 0;
		float:none;
	}
	nav ul {
		display: none;
		height: auto;
		margin: 1.5em 0 0 0;
		background: #fff;
	}
	nav a#pull {
		display: block;
		position: relative;
		color: #F26D7D;
		text-align: right;
		position: absolute;
		top: 23px;
	}
	nav a#pull:after {
		content:"";
		background: url('nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
	nav a#pull img{
		margin-right: 0%;
	}
	.top-nav ul li a {
		color: #2C3E50;
		padding: 0.4em 0;
	}
}
/*Smartphone*/
@media only screen and (max-width : 320px) {
	nav {
		float:none;
	}
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #EEE;
	}
}